section {
    background-color: rgba(106, 170, 111, 0.541);
}

#enemy {
    display: flex;
    justify-content: space-around;
    height: 350px;
}

#mypokemon {
    display: flex;
    justify-content: space-around;
    height: 350px;
}

.aaa{
    width: 400px;
    height: 100px;
    border: 2px solid;
    background-color: rgb(231, 233, 204);
    margin-top: 50px;

}

.pokename {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;

}

input {
    width: 200px;
    height: 30px;
    font-size: 30px;
}

button {
    width: 20px;
    height: 37px;
}

h1 {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 25px;
}

#hp {
    background-color: black;
    width: 200px;
    height: 15px;
    display: flex;
    justify-content: end;
    margin-left: 190px;
    margin-top: 20px;
    /* position: fixed; */
}

h2 {
    color: orange;
}

.line{
    width: 140px;
    height: 10px;
    background-color: greenyellow;
    margin: 2px 10px;
}

.img_poke {
    width: 300px;
    height: 300px;
}

/* 技 */
.toggle-menu {
    display: flex;
    margin-top: 25px;
    /* flex-direction: row; */
}
.toggle-menu dt {
    /* margin-left:  100px; */
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color:  rgb(231, 233, 204);
    color: black;
    cursor: pointer;
    border: 2px solid;
  }
  .toggle-menu > dd {
    display: none;
    /* margin: 0; */
    padding-top: 12px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    font-size: 5px;
    text-align: center;
    color: #000;
    cursor: pointer;
  }
  .toggle-menu dd + dd {
    /* border-top: none; */
  }

  .pokemon_ball {
      margin: 0 50%;
      width: 40px;
      height: 40px;
  }

.type_hp{
    display: flex;
}

.result {
    font-size: 20px;
    width: 100px;
    position: fixed;
    margin-top: 5px;
    margin-left: 20px;
}

.result2 {
    font-size: 20px;
    width: 100px;
    position: fixed;
    margin-top: 5px;
    margin-left: 20px;
}












